<div class="container my-3">

    <div class="">
        {{!-- TABLE --}}
        <div class="">
            <div>
                <h1>Authors</h1>
            </div>
            <table class="table border">
                <thead>
                    <tr class="col">
                        <th class="border pb-4 col-5 ps-3">Name <br> <span class="fw-normal d-inline"> (click onname for
                                editing)</span> </th>
                        <th class="border pb-5 col-7 ps-3">Books</th>
                    </tr>
                </thead>
                {{!-- joto gulo author pabo totogulo each hobe tar moddhe joto gula books pabo totogulo bullet point
                hobe --}}
                {{#each this.inputData as |authorItem|}}
                <tbody class="">
                    <tr class="border-2">
                        {{!-- shob gulay jate clicked korle na hoye jay tai amra ai item r akta property clicked
                        set kore shekhane true false set kore dibo based on clicked or not then show it according to
                        this --}}
                        {{!-- click(korle true hobe) kole ak rokom click na korle arekrokom --}}
                        {{#if authorItem.isClicked}}
                        <td class="flex bg-body-secondary ">
                            <label class="w-50">
                                {{!-- input filed r jonno ekhan r value tai use korbo r handler diye shei update value
                                abar funciton e nibo event.target.value te --}}
                                <Input class="w-100 d-inline px-3 py-2 border-0 rounded-1" {{on 'input'
                                    this.handleInput}} @value={{if this.save authorItem.author authorItem.author }}>
                                </Input>
                            </label>
                            <button class="btn btn-success mb-2" type="button" {{on 'click' (fn this.handleSave true
                                authorItem)}}>Save</button>
                            <button class="btn btn-danger mb-2" type="button" {{on 'click' (fn this.handleSave false
                                authorItem )}}>Cancel</button>
                        </td>
                        {{else}}
                        <td class="bg-body-secondary py-3 w-25 ps-3">
                            {{!-- <p>hello:{{authorItem.isClicked}}</p> --}}
                            <button class="border-0 bg-body-secondary" type="button" {{on 'click' (fn this.handleEdit authorItem)}}>
                                {{if this.save authorItem.author authorItem.author}}
                            </button>
                        </td>
                        {{/if}}

                        <td class="bg-body-secondary border py-3">
                            <ul class="ps-5">
                                {{#each authorItem.booksArraay as |book|}}
                                <li>{{book}}</li>
                                {{/each}}
                            </ul>
                        </td>
                    </tr>
                </tbody>
                {{/each}}
            </table>
        </div>
    </div>
</div>