<div class="border bg-body-secondary mx-5 my-4 p-5 text-center">
    <div class="pt-3 pb-1">
        <h1 class="fs-1">Demo Home Page</h1>
        <p class="mt-3">This is an example form for invitation. <br>
            Start building your own application today, follow our free Ember.js Tutorial.</p>
    </div>
    <hr>
    <div class="py-3 my-auto">
        <p class="">Don't forget to check out other menu points as well. ;</p>
        <label class=" w-50">
            <Input @value={{this.inputemail}} {{on "input" this.handleInput }}
                class="w-100 py-2 px-2 my-auto border-0 rounded" placeholder="Please type a fake e-mail address" />
        </label>
        {{!-- @value={{this.inputemail}} ata na thakleo value pabo --}}
        {{!-- <p>{{this.inputemail}}</p> --}}
        {{!-- onclick theke handleinput e jabe then handle input funciton theke ai input ber kore sheta @tracted
        inputmail e save kore dibo shei inputemail k abar ekhkane enee dekhabo --}}
        {{!-- this.handleinput means this class r handleinput function --}}
        {{!-- input holeo onlick lagbe then shei input value oi function e jabe and this.inputvalue diye abar anbo sheta
        --}}


        {{!-- computed property get isvalidemail true hole active noyto disable btn --}}
        {{#if this.isValidEmail}}
        <button type="button" {{on 'click' this.handlebtn}} class="btn btn-primary rounded">Request Invitation</button>
        {{else}}
        <button type="button" class="btn btn-primary" disabled>Request Invitation</button>
        {{/if}}

    </div>
</div>