
<div class="my-3">
    <span class="btn-group">
        <button type="button" class="btn bg-info mb-1">All</button>
        <button type="button" class="btn text-info mb-1 border-info">Abc</button>
    </span>
    <label class="w-50">
        <Input class="w-75 py-1 px-2 ms-2" @value={{this.inputValue}} {{on 'input' this.hanldeinput}}
            placeholder="Filter by Library name"></Input>
    </label>
</div>
<hr>

<p>cardfound: {{this.filtercards.length}}</p>

<div>
    {{!-- cards --}}
    <div class="container">
        <div class="row">
            {{#each this.filtercards as |card|}}
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-header">{{card.name}}</div>
                    <div class="card-body">
                        <p>Address: {{card.address}}</p>
                        <p>Phone: {{card.phone}}</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">
                            <span class="me-1">Number of books:</span>
                            <span class="fw-bold">01</span>
                        </small>
                        {{!-- <p>{{card.id}}</p> --}}
                        <LinkTo @route="library" @model={{card.id}}><button type="button"
                                class="btn btn-success">Edit</button></LinkTo>
                        {{!-- ai route r nam libaray jeta route.js eo dici, ai route e @model diye id padhalale sheta
                        route.js file :id automatic ai id k niye nibe from library route --}}
                        {{!-- ai route e ai model diye id k padhalam shei route e jeye oi id diye dynamic fetch korbo
                        --}}
                        <button type="button" {{on 'click' (fn this.handleDelete card.id)}}
                            class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

</div>