<div class="d-flex">
    <div class="w-50">
        <BsForm @model={{this.login}} @onSubmit={{this.submit}} as |form|>
            <form.element @property="name" @controlType="text" @label="Name" />
            <form.element @property="address" @controlType="text" @label="Address" @helpText="Minimum 6 characters" />
            <form.element @property="phone" @controlType="text" @label="Phone" @helpText="Minimum 6 characters" />
            <form.submitButton>Create</form.submitButton>
        </BsForm>
    </div>

    {{!-- 3ta input filed r jonno akta funciton diye same argument paramt diye value padhiye sheta k dhore traked e
    pdhiye dibo then tractd theke abar sidecard e dkehabo --}}


    {{!-- sidecard --}}
    <div class="w-50 pt-4 ps-5">
        <div class="card w-75 h-75">
            <div class="card-header h-25">{{this.name}}</div>
            <div class="card-body">
                <p>Address: {{this.address}}</p>
                <p>Phone: {{this.phone}}</p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary"><span class="me-1">Number of books:</span> <span
                        class="mx-1 fw-bold"> 01
                    </span> </small>
                {{!-- <button type="button" class="btn btn-success">Edit</button> --}}
                {{!-- <button type="button" class="btn btn-danger">Delete</button> --}}
            </div>
        </div>
    </div>
</div>


{{!-- @model={{this.login}}:

The @model property binds the form fields to the this.login object. It
means that the form inputs will be two-way bound to the properties of the login object in the
associated component. Any changes in the form fields will be reflected in the login object.


@onSubmit={{this.submit}}:

The @onSubmit property specifies a function (this.submit) that will
be called when the form is submitted. --}}