
{{! Inventory Buttons }}
<section class="my-4">
  <div class="flex">
    <div class="mx-auto text-center">
      {{! <Inventory::InventoryType class="mx-auto text-center"></Inventory::InventoryType> }}

      <button
        type="button"
        class="btn btn-secondary btn-lg"
        {{on "click" (fn this.changeInventoryType "Inventory type")}}
      >
        Inventory type
      </button>

      <button
        type="button"
        class="btn btn-secondary btn-lg"
        {{on "click" (fn this.changeInventoryType "sojib")}}
      >
        Inventory Category type
      </button>

      <button
        type="button"
        class="btn btn-secondary btn-lg"
        {{on "click" (fn this.changeInventoryType "Catagory")}}
      >
        Inventory Category
      </button>
    </div>
    <div class="my-2 mx-auto text-center">
      <button
        type="button"
        class="btn btn-secondary btn-lg"
        onclick={{fn this.changeInventoryType "Storage type"}}
      >
        Storage type
      </button>

      <button
        type="button"
        class="btn btn-secondary btn-lg"
        onclick={{fn this.changeInventoryType "Allocation type"}}
      >
        Allocation type
      </button>

      <button
        type="button"
        class="btn btn-secondary btn-lg"
        {{!-- onclick={{fn this.HandleUnitMeasure "Unit Measure"}} --}}
      >
        Unit of Measure
      </button>
    </div>

    <div class="mx-auto text-center mt-3">
      <button
        type="button"
        class="btn btn-primary btn-lg"
        {{!-- onclick={{fn this.HandleCreateInventory "Create Inventory"}} --}}
      >
        Create Inventory
      </button>
    </div>
  </div>
</section>




{{!-- modal aktai open hobe jei table r jonno open korbo sheta pass korbo just shei modal e then shetar jonno specific table padhabo shetar jonno --}}
<Inventory::InventoryModal
  @inventoryType={{this.inventory}}
/>


