<Inventory::InventoryModal
  @inventoryType={{this.inventory}}
  @createInventoryEditItem={{this.CreateInventoryEditItem}}
  @changeInventoryType={{this.changeInventoryType}}
  @handlecreateinventoryedit={{this.HandleCreateInventoryEdit}}
  @columns={{this.CreateInventoryTableColumns}} @items={{this.items}}
  @handleInventoryStatusEdit={{this.handleInventoryStatusEdit}}
/>


{{! Inventory Buttons }}
{{!-- <section class="my-4">
  <div class="flex">
    <div class="mx-auto text-center mt-3">
      <button
        type="button"
        class="btn btn-primary btn-lg"
        onclick={{fn this.changeInventoryType "inventory-list"}}
      >
        Create Inventory
      </button>
    </div>
  </div>
</section> --}}




{{!-- 
<Inventory::Createinventorytable
@handlecreateinventoryedit={{this.HandleCreateInventoryEdit}}
@columns={{this.CreateInventoryTableColumns}} @items={{this.items}}
@handleInventoryStatusEdit={{this.handleInventoryStatusEdit}}
/> --}}


