
{{! Inventory Buttons }}
<section class="my-4">
  <div class="flex">
    <div class="mx-auto text-center">
      {{! <Inventory::InventoryType class="mx-auto text-center"></Inventory::InventoryType> }}

      <button
        type="button"
        class="btn btn-secondary btn-lg"
        {{on "click" (fn this.changeInventoryType "Inventory type")}}
      >
        Inventory type
      </button>

      <button
        type="button"
        class="btn btn-secondary btn-lg"
        {{on "click" (fn this.changeInventoryType "sojib")}}
      >
        Inventory Category type
      </button>

      <button
        type="button"
        class="btn btn-secondary btn-lg"
        {{on "click" (fn this.changeInventoryType "Catagory")}}
      >
        Inventory Category
      </button>
    </div>
    <div class="my-2 mx-auto text-center">
      <button
        type="button"
        class="btn btn-secondary btn-lg"
        onclick={{fn this.changeInventoryType "Storage type"}}
      >
        Storage type
      </button>

      <button
        type="button"
        class="btn btn-secondary btn-lg"
        onclick={{fn this.changeInventoryType "Allocation type"}}
      >
        Allocation type
      </button>

      <button
        type="button"
        class="btn btn-secondary btn-lg"
        onclick={{fn this.HandleUnitMeasure "Unit Measure"}}
      >
        Unit of Measure
      </button>
    </div>

    <div class="mx-auto text-center mt-3">
      <button
        type="button"
        class="btn btn-primary btn-lg"
        onclick={{fn this.HandleCreateInventory "Create Inventory"}}
      >
        Create Inventory
      </button>
    </div>
  </div>
</section>




{{!-- modal aktai open hobe jei table r jonno open korbo sheta pass korbo just shei modal e then shetar jonno specific table padhabo shetar jonno --}}
<Inventory::InventoryModal
  @inventoryType={{this.inventory}}
/>



{{! create inventory modal }}
<div
  class="modal fade"
  id="openCreateInventory"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle2"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document" style="max-width: 80%">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle2">
          {{this.ModalHeader}}
          {{!-- {{if @isEdit "Edit" "Create"}} --}}
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          {{!-- {{action "onCancel" }}
                        --}}
        >
          <span aria-hidden="true">
            ×
          </span>
        </button>
      </div>
      <div class="modal-body">
        {{! modal table }}
        <form class="row" {{on "submit" this.submitForm}}>
          <div class="col-md-4">
            <Input
              required
              @type="text"
              @value={{this.sku}}
              placeholder="SKU"
              class="form-control"
              id="inputSKU"
            />
          </div>
          <div class="col-md-4">
            <Input
              @type="text"
              @value={{this.name}}
              placeholder="Name"
              class="form-control"
              id="inputName"
            />
          </div>
          <div class="col-md-4">
            <Input
              @type="text"
              @value={{this.description}}
              placeholder="Description"
              class="form-control"
              id="inputDescription"
            />
          </div>
          <div class="col-md-12 my-3">
            <textarea
              value={{this.fullDescription}}
              {{on "input" this.fullDescriptionFunc}}
              placeholder="Full Description"
              class="form-control"
              id="inputFullDes"
              rows="2"
            ></textarea>
          </div>

          <div class="col-md-3">
            <Input
              @value={{this.manufacturingDate}}
              @type="date"
              placeholder="Manufacturing date"
              class="form-control"
              id="inputManufacturingDate"
            />
          </div>
          <div class="col-md-3">
            <Input
              @value={{this.expiryDate}}
              @type="date"
              placeholder="Expiry date"
              class="form-control"
              id="inputExpiryDate"
            />
          </div>
          <div class="col-md-3">
            <Input
              @value={{this.storageType}}
              @type="text"
              placeholder="Storage type"
              class="form-control"
              id="inputStorageType"
            />
          </div>
          <div class="col-md-3">
            <Input
              @value={{this.inventoryCategory}}
              @type="text"
              placeholder="Inventory Catagory"
              class="form-control"
              id="inputInventoryCatagory"
            />
          </div>

          <div class="col-md-3 my-3">
            <Input
              @value={{this.categoryType}}
              @type="text"
              placeholder="Catagory type"
              class="form-control"
              id="inputCatagoryType"
            />
          </div>
          <div class="col-md-3 my-3">
            <Input
              @value={{this.inventoryType}}
              @type="text"
              placeholder="Inventory type"
              class="form-control"
              id="inputInventoryType"
            />
          </div>
          <div class="col-md-3 my-3">
            <Input
              @value={{this.allocationType}}
              @type="text"
              placeholder="Alocation type"
              class="form-control"
              id="inputAlocationType"
            />
          </div>
          <div class="col-md-3 my-3">
            <Input
              @value={{this.unitOfMeasure}}
              @type="text"
              placeholder="Unit of Measure"
              class="form-control"
              id="inputUnitMeasure"
            />
          </div>

          <div class="col-md-3 mb-3">
            <PowerSelect
              class="w-100 py-1"
              @options={{this.names}}
              @renderInPlace={{true}}
              @placeholder="status"
              @selected={{this.selectedstatus}}
              @onChange={{this.statusFunc}}
              as |name|
            >
              {{name}}
            </PowerSelect>
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
      {{! <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Close
                    </button>
                </div> }}
    </div>
  </div>
</div>



{{! Create Inventory Table }}
{{! show this when there is value in the formArray }}
{{#if this.firstObjectKeys}}
  <section class="table-responsive mx-2">
    <h4>Create Inventory</h4>
    <table class="table table-striped border">
      <thead class="">
        <tr>
          {{#each this.firstObjectKeys as |key|}}
            <th class="border text-center" scope="col">{{key}}</th>
          {{/each}}

          {{!-- {{#let (get this.formArray "0") as |key|}}
                    <th class="border text-center" scope="col">{{key}}</th> --}}

          {{!-- {{#each-in firstItem as |key|}}
                        <th class="border text-center" scope="col">gfjdfgj{{key}}</th>
                    {{/each-in}} --}}
          {{!-- {{/let}} --}}
          <th scope="">Action</th>
        </tr>
      </thead>
      <tbody>
        {{#each this.FormArray as |item|}}
          <tr class="my-auto">
            {{#each-in item as |key value|}}
              <td class="border text-center">{{value}}</td>
            {{/each-in}}
            <td class="my-auto mx-auto text-center">
              <button
                type="button"
                class="btn btn-primary btn-sm mx-auto my-auto text-center w-100"
                {{on
                  "click"
                  (fn this.HandleCreateInventoryEdit "Create Inventory" item)
                }}
              >
                Edit
              </button>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </section>
{{/if}}