{{yield}}

{{!-- Inventory Buttons --}}
<section class="my-4">
    <div class="flex">
        <div class="mx-auto text-center">
            <button type="button" class="btn btn-secondary btn-lg" {{on "click" (fn
                this.HandleInventoryType 'Inventory type' )}}>
                Inventory type
            </button>

            <button type="button" class="btn btn-secondary btn-lg" {{on "click" (fn
                this.HandleCatagorytype 'Catagory type' )}}>
                Inventory Category type
            </button>

            <button type="button" class="btn btn-secondary btn-lg" {{on "click" (fn this.HandleCatagory 'Catagory' )}}>
                Inventory Category
            </button>
        </div>
        <div class="my-2 mx-auto text-center">
            <button type="button" class="btn btn-secondary btn-lg" onclick={{fn this.HandleStoragetype 'Storage type'
                }}>
                Storage type
            </button>

            <button type="button" class="btn btn-secondary btn-lg" onclick={{fn
                this.HandleAlocationType 'Allocation type' }}>
                Allocation type
            </button>

            <button type="button" class="btn btn-secondary btn-lg" onclick={{fn this.HandleUnitMeasure 'Unit Measure'
                }}>
                Unit of Measure
            </button>
        </div>

        <div class="mx-auto text-center mt-3">
            <button type="button" class="btn btn-primary btn-lg" onclick={{fn
                this.HandleCreateInventory 'Create Inventory' }}>
                Create Inventory
            </button>
        </div>
    </div>
</section>





{{!-- <button type="button" {{on 'click' this.editWarehouse}}>show modal</button> --}}

<div class="modal fade" id="warehouseModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width: 80%">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">
                    {{this.ModalHeader}}
                    {{!-- {{if @isEdit "Edit" "Create"}} --}}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" {{!-- {{action "onCancel" }}
                    --}}>
                    <span aria-hidden="true">
                        ×
                    </span>
                </button>
            </div>
            <div class="modal-body" style="max-height: 80vh; overflow-y: auto; overflow-x: hidden;">
                {{!-- input fields --}}
                <div class="mx-auto my-0">
                    {{#each this.inputFieldNumbers as |item index|}}
                    {{!-- <div class=""> --}}
                        <div class="d-flex gap-2 mx-auto my-auto">
                            <div class="d-flex flex-row gap-2">
                                {{#each-in item as |key value|}}
                                    <label class="mr-2">
                                        <Input class="w-100 mt-1 p-1" hidden={{(eq key 'status' )}} @value='' {{on "input" (fn
                                            this.handleInputChange key)}} placeholder={{key}} />
                                    </label>
                                {{/each-in}}
                            </div>
                            <div class="w-25 mt-1">
                                {{!-- {{#each this.statusValues as |item|}} --}}
                                <PowerSelect class="w-100 p-1" @options={{this.names}} @renderInPlace={{true}}
                                    @placeholder='status' @selected={{this.selectedStatus}}
                                    @onChange={{this.HandleStatus}} as |name|>
                                    {{name}}
                                </PowerSelect>
                            </div>
                            <div>
                                <button type="button" class="btn btn-danger mt-1 mx-2" {{on 'click' (fn
                                    this.handleDeleteInputField item)}}>X</button>
                            </div>
                        </div>
                        {{!--
                    </div> --}}
                    {{/each}}
                    <div class=" my-0">
                        <button type="button" class="my-3 btn btn-primary w-lg-25 px-4" {{on 'click' this.handleAddInventory}}>+</button>
                        <button type="button" class="my-3 btn btn-success w-lg-25 px-4" {{on 'click' this.HandleSave}}>Save</button>
                    </div>
                </div>
                {{!-- table --}}
                <table class="table w-100 table-striped border w-25 mx-auto text-center py-0 my-0">
                    <thead class="">
                        <tr>
                            <th class="border-0">S.L</th>
                                {{!-- table header (keys) default mannually set headers/keys name for specefic table--}}
                                {{#each this.ModalTableHeaders as |item|}}
                                    {{#each-in item as |key value|}}
                                        {{#if key}}
                                        <th class="border" scope="col">{{key}}</th>
                                        {{!-- <th class="border col-2" scope="col">{{key}}</th> --}}
                                        {{/if}}
                                    {{/each-in}}
                                {{/each}}
                            <th scope="" class="border-0">Action</th>
                        </tr>
                    </thead>
                    <tbody >
                        {{!-- if api is fetcing laoding state will be appear if fetch is complete it will show the data. --}}
                        {{#if this.isLoading}}
                        <tr>
                            <td colspan="12" class="text-center">
                                <div class="spinner-border" role="status">
                                    {{!-- <span class="visually-hidden">Loading...</span> --}}
                                </div>
                            </td>
                        </tr>
                        {{else}}
                              {{!-- table data (keys value) --}}
                            {{#each this.ModalTableValue as |item index|}}
                                <tr>
                                    {{!-- api fetching laoding hole loader thakbe complete hole data(value) dekhabe  --}}
                                        <td class="align-middle">{{index}}</td>
                                        {{#each-in item as |key value|}}
                                            {{!-- isclicked true hole input dekhabo noyto td/text--}}
                                            {{#if (eq item.isClicked true)}}
                                            <td hidden={{(or (eq key 'ID' ) (eq key 'isClicked' ))}} class="border align-middle">
                                                <label for="" class="">
                                                    <Input {{on 'input' (fn this.handleInputUpdate item key) }} class="w-100 px-1"
                                                        @value={{value}} />
                                                </label>
                                            </td>
                                            {{else}}
                                            {{!-- hide ID, isClicked value --}}
                                            <td hidden={{(or (eq key 'ID' ) (eq key 'isClicked' ))}} class="border align-middle">
                                                {{!-- server theke status r value true ashle active lekha dekhabo r false ashle inactive
                                                dekhabo --}}
                                                {{#if (eq key 'status')}}
                                                    {{#if (eq value true)}}
                                                        active
                                                    {{else}}
                                                        inactive
                                                    {{/if}}
                                                {{else}}
                                                    {{value}}
                                                {{/if}}
                                            </td>
                                            {{/if}}
                                        {{/each-in}}
                                            <td class="d-flex flex-column gap-2 mx-auto text-center">
                                                {{#if (eq item.status true)}}
                                                    <div class="col">
                                                        <button type="button" class="btn btn-md btn-primary w-100 my-1"
                                                                {{on 'click' (fn this.handleActive this.ModalHeader item item.status)}}>Active</button>
                                                    </div>
                                                    <div class="col">
                                                        <button type="button" class="btn btn-md btn-primary w-100 my-1"
                                                                {{on 'click' (fn this.handleUpdate this.ModalHeader item)}}>Update</button>
                                                    </div>
                                                {{else}}
                                                    <div class="col">
                                                        <button type="button" class="btn btn-md btn-danger w-100 my-1"
                                                        {{on 'click' (fn this.handleActive this.ModalHeader item
                                                        item.status)}}>Inactive</button>
                                                    </div>
                                                    <div class="col">
                                                        <button type="button" class="btn btn-md btn-primary w-100 my-1"
                                                        {{on 'click' (fn this.handleUpdate this.ModalHeader item)}}>Update</button>
                                                    </div>
                                                {{/if}}
                                            </td>
                                </tr>
                            {{/each}}
                        {{/if}}
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>






{{!-- create inventory modal --}}
<div class="modal fade" id="openCreateInventory" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle2"
    aria-hidden="true">
        <div class="modal-dialog" role="document" style="max-width: 80%">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle2">
                        {{this.ModalHeader}}
                        {{!-- {{if @isEdit "Edit" "Create"}} --}}
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" {{!-- {{action "onCancel" }}
                        --}}>
                        <span aria-hidden="true">
                            ×
                        </span>
                    </button>
                </div>
                <div class="modal-body">
                {{!-- modal table --}}
                        <form class="row" {{on "submit" this.submitForm}}>
                            <div class="col-md-4">
                                <Input required @type="text" @value={{this.sku}} placeholder="SKU" class="form-control" id="inputSKU"></Input>
                            </div>
                            <div class="col-md-4">
                                <Input @type="text" @value={{this.name}} placeholder="Name" class="form-control" id="inputName"></Input>
                            </div>
                            <div class="col-md-4">
                                <Input @type="text" @value={{this.description}} placeholder="Description" class="form-control" id="inputDescription"></Input>
                            </div>
                            <div class="col-md-12 my-3">
                                <textarea value={{this.fullDescription}} {{on 'input' this.fullDescriptionFunc}} placeholder="Full Description" class="form-control" id="inputFullDes" rows="2"></textarea>
                            </div>

                                <div class="col-md-3">
                                    <Input @value={{this.manufacturingDate}} @type="date" placeholder="Manufacturing date" class="form-control" id="inputManufacturingDate"></Input>
                                </div>
                                <div class="col-md-3">
                                    <Input @value={{this.expiryDate}} @type="date" placeholder="Expiry date" class="form-control" id="inputExpiryDate"></Input>
                                </div>
                                <div class="col-md-3">
                                    <Input @value={{this.storageType}} @type="text" placeholder="Storage type" class="form-control" id="inputStorageType"></Input>
                                </div>
                                <div class="col-md-3">
                                    <Input @value={{this.inventoryCategory}} @type="text" placeholder="Inventory Catagory" class="form-control" id="inputInventoryCatagory"></Input>
                                </div>

                            <div class="col-md-3 my-3">
                                <Input @value={{this.categoryType}} @type="text" placeholder="Catagory type" class="form-control" id="inputCatagoryType"></Input>
                            </div>
                            <div class="col-md-3 my-3">
                                <Input @value={{this.inventoryType}} @type="text" placeholder="Inventory type" class="form-control" id="inputInventoryType"></Input>
                            </div>
                            <div class="col-md-3 my-3">
                                <Input @value={{this.allocationType}} @type="text" placeholder="Alocation type" class="form-control" id="inputAlocationType"></Input>
                            </div>
                            <div class="col-md-3 my-3">
                                <Input @value={{this.unitOfMeasure}} @type="text" placeholder="Unit of Measure" class="form-control" id="inputUnitMeasure"></Input>
                            </div>


                            <div class="col-md-3 mb-3">
                                <PowerSelect
                                    class="w-100 py-1"
                                    @options={{this.names}}
                                    @renderInPlace={{true}}
                                    @placeholder='status'
                                    @selected={{this.selectedstatus}}
                                    @onChange={{this.statusFunc}} as |name|>
                                    {{name}}
                                </PowerSelect>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                </div>
                {{!-- <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Close
                    </button>
                </div> --}}
        </div>
    </div>
</div>







{{!-- create inventory table --}}




{{!-- Create Inventory Table --}}
{{!-- show this when there is value in the formArray --}}
{{!-- {{#if this.firstObjectKeys}} --}}
<section class="table-responsive mx-2">
        <h4>Create Inventory</h4>
    <table class="table table-striped border">
        <thead class="">
            <tr>
               {{#each this.firstObjectKeys as |key|}}
                    <th class="border text-center" scope="col">{{key}}</th>
                {{/each}}

                {{!-- {{#let (get this.formArray "0") as |key|}}
                    <th class="border text-center" scope="col">{{key}}</th> --}}

                    {{!-- {{#each-in firstItem as |key|}}
                        <th class="border text-center" scope="col">gfjdfgj{{key}}</th>
                    {{/each-in}} --}}
                {{!-- {{/let}} --}}
                <th scope="">Action</th>
            </tr>
        </thead>
        <tbody>
                {{#each this.FormArray as |item |}}
                    <tr class="my-auto">
                        {{#each-in item as |key value|}}
                                <td class="border text-center">{{value}}</td>
                        {{/each-in}}
                        <td class="my-auto mx-auto text-center ">
                         <button 
                            type="button" 
                            class="btn btn-primary btn-sm mx-auto my-auto text-center w-100"
                            {{on "click" (fn this.HandleCreateInventoryEdit "Create Inventory" item)}}
                        >
                            Edit
                        </button>
                        </td>
                    </tr>
                {{/each}}
        </tbody>
    </table>
</section>
{{!-- {{/if}} --}}