{{yield}}


<div class="container mb-3 mt-4">
        <ol>
           
           {{#if this.loading}}
                <div class="spinner-border text-dark" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
           {{else}}
                {{#each this.TabelModel as |item|}}
                        <li class="gap-2 my-2">
                            <button type="button" class="btn btn-md border bg-secondary text-white" 
                                {{on 'click' (fn this.handleSelectTable item this.TabelModel)}}>{{item.name}} 
                            </button>
                            <button type="button" {{on 'click' (fn this.handleTableDelete item) }} class="btn btn-danger">X</button>
                        </li>
                {{/each}}
           {{/if}}

            {{!-- if edited or not --}}
            {{#if this.item.isTableEdited}}
                <div class="mx-auto my-auto mt-4">
                    <label class="">
                        <Input @value={{ this.item.name}} class="form-control w-100" placeholder="Enter Table Name" aria-describedby="emailHelp" 
                        {{on 'input' this.handleTableInput}}></Input>
                    </label>
                        <button {{on 'click' (fn this.handleTableSave  this.item 'save')}} type="button" class="btn btn-success">Save</button>
                        <button type="button" {{on 'click' (fn this.handleTableSave  this.item 'cancel') }} class="btn btn-danger">Cancel</button>
                </div>
            {{else}}
                {{!-- TODO: atay click kore edit option ta ashbe and save cancel hobe --}}
                <h3>
                    {{#if this.tableShow}}
                            <button type="button" {{on 'click' (fn this.handleTableEdit this.item)}} data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tooltip on top" class="mt-4 border-0 bg-white">
                            {{this.TableName}}
                                <BsTooltip @placement="top">Click to Edit</BsTooltip>
                            </button>
                    {{/if}}
                </h3>
            {{/if}}

        </ol>


      <table class="table border border-1 table-striped">
        <thead>
             <tr class="border">
                    {{#each this.FirstColArray as |item|}}
                        {{#each-in item as |key value|}}
                            <th scope="col" colspan="1" class="border w-25 mx-auto text-center">{{key}}
                                <button type="button" class="text-danger border btn btn-danger text-white text-center" {{on 'click'
                                    (fn this.handleColRemove item)}}>X</button>
                            </th>
                        {{/each-in}}
                    {{/each}}

                    {{#if this.FirstColArray}}
                        <th scope="col" class="border text-danger fw-bold text-center w-50">Action</th>
                    {{/if}}
            </tr>
        </thead>
        <tbody>
                {{#each this.row as |item|}}
                    <tr class="">
                        {{#each item as |element|}}
                            {{#each-in element as |key value|}}
                                {{#if item.isEdited}}
                                        <td class="my-auto border mx-auto w-25 text-center">
                                            <label>
                                                <Input @value={{value}} class="form-control" aria-describedby="emailHelp" 
                                                {{on 'input' (fn this.HandleInputeThree key)}}
                                                ></Input>
                                            </label>
                                        </td>  
                                {{else}}
                                    <td class="w-25 mx-auto text-center">{{value}}</td>
                                {{/if}}
                            {{/each-in}}
                        {{/each}}

                        <td class="border border mx-auto text-center d-flex flex-column gap-2">
                            {{#if item.isEdited}}
                                <button type="button" class="btn btn-success btn-md px-4 mx-auto" {{on 'click'
                                    (fn this.handleSave item this.row)}}>Save</button>
                            {{else}}
                                 <button type="button" class="btn btn-secondary btn-md px-4 mx-auto" {{on 'click'
                                (fn this.handleEdit item this.row)}}>Edit</button>
                            {{/if}}
                            <button type="button" class="btn btn-danger btn-md px-3 mx-auto" {{on 'click'
                                (fn this.handleDelete item this.row)}}>Delete</button>
                        </td>
                    </tr>
                {{/each}}

        </tbody>
    </table>


   


    <button type="button" class="btn btn-secondary" {{on 'click' (fn this.CreateRow 'first' @model)}}>Add FirstRow</button>
    <button type="button" class="btn btn-secondary" {{on 'click' (fn this.CreateRow 'last' @model)}}>Add LastRow</button>

    <button type="button" class="btn btn-primary" {{on 'click' (fn this.AddCol 'first')}}>Add First Col</button>

    <label>
        <Input class="form-control" @value={{this.InputValueCol}} aria-describedby="emailHelp" placeholder="Add Column Name" {{on 'input'
            this.handleCoLInput}}>
        </Input>
    </label>

    <button type="button" class="btn btn-primary" {{on 'click' (fn this.AddCol 'last')}}>Add Last Col</button>

    <button type="button" class="btn btn-success" {{on 'click' this.SaveModel}} disabled={{this.NoColRow}}>Save to Model</button>

    <button type="button" class="btn btn-danger" {{on 'click' this.DeleteAllRow}} disabled={{this.NoData}}>
        Delete All
    </button>


</div>