{{page-title "Invitation"}}
{{outlet}}


<div class="container mt-3">
    <h1>Invitation</h1>
    <table class="table table-striped border">
        <thead>
            <tr>
                <th class="border" scope="col">ID</th>
                <th class="border" scope="col">E-mail</th>
            </tr>
        </thead>
        <tbody>
            {{#each @model as |item|}}
            <tr>
                <td class="border fw-bold w-50">-{{item.id}}</td>
                <td class="border">{{item.invitation}}</td>
                {{!-- <td>{{item.message}}</td> --}}
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>