{{!-- create inventory table --}}
<section class="table-responsive table-container mx-auto">
    {{!-- <h4 class="mx-2">Inventory</h4> --}}
    <table class="table table-striped border">
        <thead class="">
            <tr>
                {{#each @columns as |item|}}
                <th class="border text-center" scope="col">{{item.column_name}}</th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each this.items as |item |}}
            <tr class="my-auto">
                <td class="border text-center">{{item.sku}}</td>

                <td class="border text-center">{{item.inv_name}}</td>

                <td class="border text-center">{{item.description}}</td>

                <td class="border text-center">{{item.full_description}}</td>

                <td class="border text-center">{{item.manufacturing_date}}</td>

                <td class="border text-center">{{item.expire_date}}</td>

                <td class="border text-center">{{item.storage_type}}</td>

                <td class="border text-center">{{item.category_name}}</td>

                <td class="border text-center">{{item.category_type}}</td>

                <td class="border text-center">{{item.inv_type}}</td>

                <td class="border text-center">{{item.alloc_type}}</td>

                <td class="border text-center">{{item.measure_type}}</td>

                <td class="">
                    <button type="button" class="btn btn-primary btn-sm w-100" {{on "click"
                        (fn @handlecreateinventoryedit "Create Inventory" item)}}>
                        Edit
                    </button>
                    <button type="button" class="btn btn-danger btn-sm w-100 my-2" {{on "click" (fn @handleInventoryStatusEdit item)}}>
                        {{#if item.active_status}}
                            active
                        {{else}}
                            inactive
                        {{/if}}
                    </button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>
