

{{!-- table --}}
<table class="table border container table-striped border text-center py-0 my-0 overflow-scroll">
  <thead class="bg-light">
    <tr>
      {{#each @columns as |item|}}
      <th class="border">
        {{item.column_name}}
      </th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    <tr>
       <th hidden={{ (eq @isloading false)}} colspan="6">
          {{#if @isloading}}
            <div class="d-flex justify-content-center">
              <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          {{/if}}
       </th>
    </tr>
    {{!-- from fetch data --}}
    {{#each @items as |item index|}}
    <tr>
      {{#each @columns as |column|}}
          {{#if (eq column.column_property "id")}}
              {{!-- {{#if item.id}} --}}
                <td class="border">
                  {{index}}
                  {{!-- {{item.id}} --}}
                </td>
              {{!-- {{/if}} --}}
          {{/if}}

          {{#if (eq column.column_property "inv_type") }}
            <td class="border">
                {{#if (eq item.isEdit true)}}
                  <label for="" class="w-100">
                    <Input class="w-100" @value={{item.inv_type}} />
                  </label>
                {{else}}
                  {{item.inv_type}}
                {{/if}}
            </td>

            {{else if (eq column.column_property "category_name")}}
            <td class="border">
                {{#if (eq item.isEdit true)}}
                  <label for="" class="w-100">
                    <Input class="w-100" @value={{item.category_name}} />
                  </label>
                {{else}}
                  {{item.category_name}}
                {{/if}}
            </td>

            {{else if (eq column.column_property "parent_name")}}
            <td class="border">
                {{#if (eq item.isEdit true)}}
                  <label for="" class="w-100">
                    <Input class="w-100" @value={{item.parent_name}} />
                  </label>
                {{else}}
                  {{item.parent_name}}
                {{/if}}
            </td>

            {{else if (eq column.column_property "category_type")}}
            <td class="border">
                {{#if (eq item.isEdit true)}}
                  <label for="" class="100">
                    <Input class="w-100" @value={{item.category_type}} />
                  </label>
                {{else}}
                  {{item.category_type}}
                {{/if}}
            </td>

            {{else if (eq column.column_property "storage_type")}}
            <td class="border">
                {{#if (eq item.isEdit true)}}
                  <label for="">
                    <Input @value={{item.storage_type}} />
                  </label>
                {{else}}
                  {{item.storage_type}}
                {{/if}}
            </td>

            {{else if (eq column.column_property "alloc_type")}}
              <td class="border">
                  {{#if (eq item.isEdit true)}}
                    <label for="">
                      <Input @value={{item.alloc_type}} />
                    </label>
                  {{else}}
                    {{item.alloc_type}}
                  {{/if}}
              </td>

            {{else if (eq column.column_property "measure_type")}}
              <td class="border">
                  {{#if (eq item.isEdit true)}}
                    <label for="">
                      <Input @value={{item.measure_type}} />
                    </label>
                  {{else}}
                    {{item.measure_type}}
                  {{/if}}
              </td>
          {{/if}}


          {{#if (eq column.column_property "short")}}
            {{!-- {{#if item.short}} --}}
              <td class="border">
                  {{#if (eq item.isEdit true)}}
                    <label for="">
                      <Input @value={{item.short}} />
                    </label>
                  {{else}}
                    {{item.short}}
                  {{/if}}
              </td>
            {{!-- {{/if}} --}}
          {{/if}}


          {{#if (eq column.column_property "country")}}
            {{!-- {{#if item.country}} --}}
            <td class="border">
                {{#if (eq item.isEdit true)}}
                  {{!-- <label for="">
                    <Input @value={{item.country}} />
                  </label> --}}
                <PowerSelectMultiple class="w-100 mt-1 h-75 px-1" @value={{item.country}} @searchEnabled={{true}} @options={{this.names}}
                    @selected={{item.country}} @labelText="Name" @placeholder="Select Country" @onChange={{(fn this.handlemultipleSelection item)}}
                    as |name|>
                    {{name}}
                </PowerSelectMultiple>
                {{else}}
                    {{item.country}}
                {{/if}}
            </td>
          {{/if}}


          {{#if (eq column.column_property "description")}}
            {{!-- {{#if item.description}} --}}
            <td class="border">
              {{#if (eq item.isEdit true)}}
                <label for="">
                  <Input @value={{item.description}} />
                </label>
              {{else}}
                {{item.description}}
              {{/if}}
            </td>
          {{/if}}


          {{#if (eq column.column_property "status")}}
            <td class="border col-2">
                {{#if (eq item.isEdit true)}}
                  <div class="mt-1">
                    <label class="toggle">
                      <Input @checked={{item.active_status}} {{on 'change' (fn @handleStatusChange item)}} class="toggle-checkbox" @type="checkbox" />
                      <div class="toggle-switch"></div>
                    </label>
                  </div>
                {{else}}
                  {{#if (eq item.active_status true)}}
                    active
                  {{else}}
                    inactive
                  {{/if}}
                {{/if}}
            </td>
          {{/if}}


            {{#if (eq column.column_property "actions")}}
              <td class="d-flex flex-column gap-2 border">
                {{#if (eq item.active_status true)}}
                    <button type="button" class="btn btn-danger" {{on "click" (fn @handleStatus item)}}>Inactive</button>
                  {{else}}
                    <button type="button" class="btn btn-primary" {{on "click" (fn @handleStatus item)}}>Active</button>
                {{/if}}
                {{#if item.isEdit}}
                    <button type="button" class="btn btn-danger w-100 my-1" {{on "click" (fn @handleCancel item)}}>Cancel</button>
                    <button type="button" class="btn btn-success" {{on "click" (fn @handleSave item)}}>Save</button>
                  {{else}}
                      <button hidden={{(eq item.created_by.user_type 'SYSTEM')}} type="button" class="btn btn-primary w-100 my-1" {{on "click" (fn @handleEdit item)}}>Edit</button>                      
                {{/if}}
              </td>
            {{/if}}
      {{/each}}
    </tr>

    {{/each}}
  </tbody>
</table>