{{!-- same data again insert korle update data violation dekhabe response e, tokhon akta alert show kore dite hobe j
cant insert same data twice --}}
{{!-- !edit/active/inactive korle akta loader dekhate hobe wheather its a overlay loader or inside a btn use loader --}}
{{!-- check validation for inventory catagory, parent e data na thakle child create hobe na, ager child e na thakle porer tay add hobe nah
akta parent e data na thakle arekta parent create korbo na alert dibo, return dibo amon! --}}
{{!-- use fontawesome icon in add, remove, X,  --}}
{{!-- catagory te loader dibo borota untill data findAll found from the server and save r shomoy o choto loader dibo --}}
{{!-- create inv table e active status btn dibo and functionalities--}}

<div {{did-insert (fn this.insertForModal this.handleItemsToNull) }} class="modal fade" id="inventoryModalContent"
  tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog" role="document" style="max-width: 90%">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          {{!-- {{this.ModalHeader}} --}}
          {{!-- {{if @isEdit "Edit" "Create"}} --}}
          {{#if (eq @inventoryType 'inventory-list')}}
              <p>Create Inventory</p>
          {{else}}
              <p>{{@inventoryType}}</p>
          {{/if}}
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            ×
          </span>
        </button>
      </div>
      <div class="modal-body">
        {{#if (eq @inventoryType "Inventory type")}}
        <Inventory::InventoryType />
        {{ else if (eq @inventoryType "Inventory Category type")}}
        <Inventory::InventoryCatagoryType />
        {{ else if (eq @inventoryType "Catagory")}}
        <Inventory::InventoryCatagory />
        {{ else if (eq @inventoryType "Storage type")}}
        <Inventory::StorageType />
        {{ else if (eq @inventoryType "Allocation type")}}
        <Inventory::AllocationType />
        {{ else if (eq @inventoryType "Unit of Measure")}}
        <Inventory::UnitOfMeasure />
        {{ else if (eq @inventoryType "inventory-list")}}
        <Inventory::CreateInventory @createInventoryEditItem={{@createInventoryEditItem}} />
        {{/if}}
      </div>
      <div class="modal-footer" hidden={{(eq @inventoryType "inventory-list" )}}>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>